.banner-container {
	display: flex;
	flex-direction: column;
	padding: 10px;
	justify-content: center;
	align-items: center;
	max-width: 1000px;
}

.banner-image {
	width: auto;
	height: 10vw;
	object-fit: contain;
	background-color: #fff;
}

@media (max-width: 768px) {
	.banner-image {
		height: 20vw;
	}
}

@media (max-width: 320px) {
	.banner-image {
		height: 25vw;
	}
}
