.reactions {
	display: grid;
	grid-template-columns: 100px 100px;
	gap: 10px;
}

.reaction {
	background-color: none;
	background: none;
	border: none;
	padding: 5px 10px;
	transition: 0.3s all ease-in-out;
	border-radius: 20px;

	font-size: 1.3rem;
}

.reaction:hover {
	background-color: rgb(216, 216, 216);
}

.reacted {
	background-color: rgb(245, 216, 88) !important;
}
